#API KEYS

# HuggingFace - for AI translation (Bodo, Assamese, Hindi support)
HUGGINGFACE_TOKEN=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

# Tavily - primary web search API
TAVILY_API_KEY=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

# Serper - backup Google search API
SERPER_API_KEY=de7b8b8a7cd21066011b4e7df7e14e1b79a39d6d
# Groq - AI answering engine (replaces HuggingFace for AI)
GROQ_API_KEY=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

# Flowise - your AI agent (we set this up next)
#FLOWISE_API_URL=your_flowise_url_here
#FLOWISE_CHATFLOW_ID=your_chatflow_id_here
